/* PaySlip.css */

.blue-border {
  border: 1px solid #1cc45c !important;
}

.blue-border-bottom {
  border-bottom: 2px solid yellow !important;
}

/* .table-bordered {
  border: 1px solid #2ad76c !important;
} */
.table-bordered {
  border: 1px solid yellow !important;
}
 
 
.table-bordered th,
.table-bordered td {
  border: 2px solid yellow !important;
}

.content__container2 {

  background-color: #fffff7;
   padding-top: 15px;    /* Vertical padding (top) */
  padding-bottom: 15px; /* Vertical padding (bottom) */
  padding-left: 50px;   /* Horizontal padding (left) */
  padding-right: 50px;  /* Horizontal padding (right) */
  max-width: 900px; /* Reduce width */
  margin: 0 auto;

}

.image-container {
  position: relative;
}

.left-image,
.right-image {
  position: absolute;
  top:25px; /* Adjust the vertical position as needed */
  width: 60px; /* Set the width of the images */
  height: 60px; /* Set the height of the images */
  z-index: 10; /* Ensure images are above other content */
}

.left-image {
  left: 50px; /* Adjust the horizontal position for left image */
}

.right-image {
  right: 50px; /* Adjust the horizontal position for right image */
}
